@import "../../common/base.less";
@import "../../common/normalize.less";
.clearfix {
    zoom: 1
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both
}
body{
  width: 100%;
  height: 100%;
}


.search {
    width: 100%;
    height: 100%;
    border-top: 1px solid #ececec;
    background: url("../../../static/img/search_bg.png");
    background-size: cover;
    .searchMain {
        .px2rem(width,
        1200);
        height: 100%;
        margin: 0 auto;
        .searchCenter {
            .px2rem(width,
            1200);
            .searchCenLeft {
                float: left;
               
                .px2rem(width,
                690);
                .px2rem(height,
                650);
                .searchCengame {
                    width: 100%;
                    .px2rem(height,
                    130);
                    background: rgba(0,0,0,0.2);
                    
                    position: relative;
                    .gameImg,
                    .gameInfo,
                    .gameStart {
                        float: left;
                        .px2rem(margin-top,
                        16)
                    }
                    .gameImg {
                        .px2rem(width,
                        100);
                        .px2rem(height,
                        100);
                       
                        .px2rem(margin-left,
                        16)
                    }
                    .gameInfo {
                        .px2rem(width,
                        330);
                        .px2rem(height,
                        100);
                        .px2rem(margin-left,
                        10);
                        .name {
                            .px2rem(width,
                            200);
                            .px2rem(font-size,
                            20);
                            .px2rem(margin-left,
                            10);
                            .px2rem(margin-top,
                            10);
                            .px2rem(margin-bottom,
                            10);
                            color: #ffffff;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .info {
                            .px2rem(font-size,
                            14);
                            .px2rem(margin-left,
                            10);
                            .px2rem(line-height,
                            20);
                            color: #fff;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }
                    }
                    .gameStart {
                        .px2rem(width,
                        165);
                        .px2rem(height,
                        55);
                        background: #4e92ff;
                        color: #fff;
                        .px2rem(font-size,
                        18);
                        .px2rem(line-height,
                        55);
                        text-align: center;
                        .px2rem(border-radius,
                        28);
                        position: absolute;
                        .px2rem(bottom,
                        17);
                        .px2rem(right,
                        17);
                        .px2rem(margin-top,
                        25);
                    }
                }

                .gameScImg {
                    width: 100%;
                    .px2rem(height,
                    480);
                    .px2rem(margin-top,
                    34);
                    .px2rem(margin-bottom,
                    15);
                  
                   
                    .gameScImgPhoto {
                        width: 100%;
                        .px2rem(height,
                        435);
                        .px2rem(margin-top,
                        16);
                       
                    }
                }
            }
            .searchCenRight {
                float: left;
                .px2rem(margin-left,
                30);
                .px2rem(margin-top,
                30);
                .px2rem(width,
                480);
                height: 100%;
                .gameItem {
                    .px2rem(width,
                    480);
                    .px2rem(height,
                    120);
                    .px2rem(margin-top,
                    30);
                   
                    background: rgba(0,0,0,0.2);
                    .itemImg {
                        float: left;
                        .px2rem(width,
                        270);
                        height: 100%;
                        
                    }


                    .itemInfo {
                      float: right;
                        .px2rem(width,
                        200);
                        height: 100%;
                        p {
                            width: 100%;
                            .px2rem(margin-top,25);
                            .px2rem(margin-bottom,10);
                            text-align: center;
                            .px2rem(font-size,
                            20);
                            color: #fff;
                        }
                        .startGame {
                            display: block;
                            .px2rem(width,
                            90);
                            .px2rem(height,
                            28);
                            .px2rem(line-height,
                            28);
                            margin: 0 auto;
                            .px2rem(border-radius,12);
                            background: #4e92ff;
                            text-align: center;
                            .px2rem(font-size,
                            12);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}